{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">

    table {
     cursor: pointer;
    }

    .res_names {
      color: #000000;
    }

  </style>
{% endblock %}
{% block content %}
  <h2> Edit Restaurant </h2>
  <form method="post" action="/update_res">
  	<div class="form-row">
  	  <div class="col-5">
        <input type="text" class="form-control" name="res_name" placeholder="Please Type in the New Restaurant Name"  value="{{res_details['res_name']}}"/>
        <input type="hidden" name="res_id" value="{{ res_details['r_id'] }}">
      </div>
      <div class="col-2">
        <button type="submit" class="btn btn-warning mb-2" value="Update">Update</button>
      </div>
  	</div>
  </form>
{% endblock %}